@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
    color: #616161;
    font-family: 'Manjari', sans-serif;
}

.projectCard,
footer {
    background-color: rgb(156, 155, 153);
    border: 5px solid #BDBDBD; 
    margin: 10px 10px;
    width: 300px;
}

#navbarNav {
    justify-content: flex-end;
}

.hide {
    display: none;
}