@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
    color: #616161;
    font-family: 'Manjari', sans-serif;
}

.projectCard,
footer {
    background-color: rgb(156, 155, 153);
    border: 5px solid #BDBDBD; 
    margin: 10px 10px;
    width: 300px;
}

#navbarNav {
    justify-content: flex-end;
}

#homePage,
#bioPage,
#technologiesPage,
#projectsPage {
    padding-top: 55px;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

#bioPage,
#projectsPage {
    background-color: white;
}

#bioPageTitle,
#technologiesPageTitle {
    text-align: center;
}

.profileImage {
    text-align: right;
}

#technologiesUsed ul span img {
    padding-top: 25px;
    max-width: 10%;
}