@import "~bootstrap/scss/bootstrap";

body {
    background-color: whitesmoke;
    color: #616161;
    font-family: 'Manjari', sans-serif;
}

#navbarNav {
    justify-content: flex-end;
}

#homePage,
#bioPage {
    padding-top: 55px;
    height: 90vh;
}

#contactsPage {
    padding-top: 55px;
    height: 50vh;
    text-align: center;
    a i.fa {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

html {
    scroll-behavior: smooth;
}

#bioPage,
#portfolioPage {
    background-color: white;
}

#technologiesPage {
    padding-top: 55px;
    height: 80vh;
    h3,
    p {
    text-align: center;
    }
}

#portfolioPage {
    padding-top: 55px;
    height: 90vh;
    h3 {
        text-align: center;
    }
}

#bioPageTitle {
    text-align: center;
}

.profileImage {
    text-align: right;
}

#technologiesUsed {
    margin-top: 150;
    ul span img {
    padding: 25px 10px 10px;
    max-width: 10%;
    }
}

.introInfo {
    position: relative;
    text-align: center;
    h1 {
        font-size: 5.5rem;
        margin-top: 265;
    }
    h4 {
        margin-top: 30;
    }
    .introInfoButton {
        margin-top: 50;
    }
}