#bio {
  background-image: url('./assets/nika-akin-N3TmD1KJHtE-unsplash.jpg');
  background-size: cover;
  height: 50%;
}

#technologies {
  background-image: url('./assets/jesus-kiteque-wn-KYaHwcis-unsplash.jpg');
  background-size: cover;
  height: 50%;
}

#projects {
  background-image: url('./assets/leone-venter-pVt9j3iWtPM-unsplash.jpg');
  background-size: cover;
  height: 50%;
}